body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(23, 23, 25);
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  /* gap: 0.35em; */
  justify-content: center;
  align-items: center;
}

.row-container {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-container-outer {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(5, 6.5rem);
  gap: 0.75em;

  justify-content: center;
  /* align-items: center; */
  /* border: 1px solid gray; */
  border-radius: 4px;
  /* padding-top: 0.25em; */
  padding-bottom: 0.5em;
  flex-wrap: wrap;
  /* min-width: 678px; */
}
/* 
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.keyboard-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* grid-template-columns: repeat(10, 2.2em); */
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.key {
  background: gray;
  width: 1.5em;
  height: 3em;
  border: 1px solid gray;
  border-radius: 2px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
}

.hidden-key {
  opacity: 0;
  width: 1em;
}

.key.special {
  width: 8em;
  height: inherit;
  /* height: 3.9rem; */
}

#enter-key {
  /* font-size: 0.98rem; */
  font-size: 0.94rem;
}

#backspace-svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboard-row.four {
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

input {
  background-color: transparent;
  border: 2px solid gray;
  border-radius: 0 !important;
  color: white;
  font-size: 85px;
  text-align: center;
  outline: none;
  text-transform: uppercase;
}

.win-or-loss-container {
  display: none;
  position: absolute;
  background-color: rgb(23, 23, 25, 0.95);
  transform: translateX(250%);
  border: 2px solid red;
  color: red;
  border-radius: 4px;
  width: 15rem;
  height: 25rem;
  text-align: center;
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

.keyboard-row.three {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}

.keyboard-row.four {
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

@media (max-width: 1469px) {
  .win-or-loss-container {
    position: absolute;
    right: 0;
  }
}

@media (max-width: 798px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 5.5rem);
    gap: 0.5em;

    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
    /* min-width: 678px; */
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 90px;
    text-align: center;
    height: 5.5rem;
  }
  /* width: 80%;
    h
    outline: none;
    text-transform: uppercase;
  }
}
*/
}

@media (max-width: 676px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 4.6rem);
    gap: 0.4em;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
    /* min-width: 678px; */
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 70px;
    text-align: center;
    height: 4.6rem;
  }
}

@media (max-width: 502px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 4.4rem);
    gap: 0.4em;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
    /* min-width: 678px; */
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 70px;
    text-align: center;
    height: 4.4rem;
  }
}

.keyboard-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* grid-template-columns: repeat(10, 2.2em); */
  gap: 4px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.key {
  background: gray;
  width: 1.8em;
  height: 3.3em;
  border: 1px solid gray;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
}

.hidden-key {
  opacity: 0;
  width: 1em;
}

.key.special {
  width: 3rem;
  text-align: center;
}

@media (max-width: 431px) {
  .win-or-loss-container {
    transform: translatex(0%);
    width: scale(-2);
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 3.7rem);
    gap: 0.325em;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
    /* min-width: 678px; */
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 50px;
    text-align: center;
    height: 3.7rem;
  }

  .keyboard-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* grid-template-columns: repeat(10, 2.2em); */
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .key {
    background: gray;
    width: 1.6em;
    height: 3.3em;
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .hidden-key {
    opacity: 0;
    width: 1em;
  }

  .key.special {
    width: 3rem;
    text-align: center;
  }
}

@media (max-width: 349px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    gap: 0.25em;
    width: 100%;
    justify-content: center;

    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    /* min-width: 678px; */
  }

  .keyboard-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* grid-template-columns: repeat(10, 2.2em); */
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .key {
    background: gray;
    width: 1.3em;
    height: 3em;
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
  }

  .hidden-key {
    opacity: 0;
    width: 1em;
  }

  .keyboard-row.four {
    width: 100%;
    display: inherit;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 45px;
    text-align: center;
    height: 3rem;
  }
}

@media (max-width: 298px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 3rem);
    gap: 0.2em;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
    /* min-width: 678px; */
  }

  .keyboard-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* grid-template-columns: repeat(10, 2.2em); */
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .key {
    background: gray;
    width: 1.5em;
    height: 2.5em;
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bolder;
  }

  .hidden-key {
    opacity: 0;
    width: 1em;
  }

  .key.special {
    font-size: 0.7rem !important;
    width: 2.5rem;
  }

  svg {
    width: 1.5rem;
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 40px;
    text-align: center;
    height: 3rem;
  }
}

@media (max-width: 258px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 2.5rem);
    gap: 0.27em;

    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
    /* min-width: 678px; */
  }

  .keyboard-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* grid-template-columns: repeat(10, 2.2em); */
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .key {
    background: gray;
    width: 1rem;
    height: 2.2em;
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .hidden-key {
    opacity: 0;
    width: 1em;
  }

  .key.special {
    font-size: 10px !important;
    width: 2rem;
  }

  svg {
    width: 1.2rem;
  }
  .keyboard-row.four {
    width: 100%;
    display: inherit;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 30px;
    text-align: center;
    height: 2.5rem;
  }
}

@media (max-width: 212px) {
  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 2.3rem);
    gap: 0.1em;

    width: 100%;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    padding-top: 1em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
    /* min-width: 678px; */
  }

  input {
    background-color: transparent;
    border: 2px solid gray;
    color: white;
    font-size: 28px;
    text-align: center;
    height: 2.3rem;
  }
}
